# Bilud output
steganography

# Build artifacts
*.o
*.out
*.exe

# Generated executable
steg

# Generated stego images
stego*.bmp

# Recovered secret files
recovered*

# Debugging / temporary files
*.log
*.tmp

# Editor / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db